/* Resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  color: #000;
  background: #FFF;
}

/* General layout */
.content {
  width: 100%;
  max-width: 900px;
  height: auto;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.content .item {
  max-width: 400px;
  width: 100%;
  margin: 15px;
  flex-grow: 1;
}

/* Components */
h1 {
  font-size: 22px;
  font-weight: 500;
}
.button {
  height: 22px;
  width: 200px; /*a tad hacky*/
  display: block;
  margin: 50px auto;
  font-size: 18px;
  font-weight: 400;
  test-decoration: none;
  text-align: center;
  line-height: 22px;
  color: #36A8F1;
  cursor: pointer;
}

/* Plots */
plot-app {
  width: 100%;
  height: auto;
  display: block;
}
plot-app a {
  width: auto;
  height: 40px;
  padding: 0 15px 0 39px;
  display: inline-block;
  margin: 15px 15px 0 0;
  position: relative;
  border: 1px solid #BAC9D3;
  border-radius: 50px;
  font-size: 15px;
  line-height: 40px;
  color: #000;
  cursor: pointer;
}
plot-app a .icon {
  display: block;
  height: 24px;
  width: 24px;
  position: absolute;
  top: 7px; left: 7px;
  border-radius: 100%;
  content: "";
}
plot-app a.checked .icon {
  background-image: url(./check.svg);
}

/* Dark Colors */
.dark {
  color: #FFF;
  background: #242F3E;
}
.dark plot-app a {
  color: #FFF;
  border-color: #546778;
}
